<ion-header>
  <ion-toolbar>
    <ion-title>pesanan-lihat</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">
        Data Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <h1>Halo {{ nama }},</h1>
  <ion-list class="ion-padding" lines="full">
    <ion-item>
      Pesananmu ada disini
    </ion-item>
  </ion-list> 

  <ion-card lines="inset" *ngFor="let menu_value of menu">
    <ion-item>
    <ion-card-header>
      <ion-card-title style="font-weight: 600;">{{ menu_value.menu_nama }}</ion-card-title>
    </ion-card-header>
    <ion-button (click)="decrement()" slot="end">-</ion-button>
     <ion-label slot="end"> {{menu_value.pesanan_qty}} </ion-label>
      <ion-button (click)="increment()" slot="end">+</ion-button>
    </ion-item>
    </ion-card>
    </ion-content>
  
    
