<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <hr>
  <h1>Halo {{ nama }},</h1>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          Pesananmu ada disini
        </ion-item>
      </ion-col>
      <ion-col size="auto">
        <ion-item>
          <ion-button>Tambah Pesanan</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card lines="inset" >
    <img alt="Fast Food" src="http://localhost/ionicRestoran/img/fast-food-sharp.svg" />
      <ion-item *ngFor="let menu_value of menu">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ menu_value.menu_nama }}</ion-card-title>
          <ion-card-subtitle>Jumlah stok : {{ menu_value.menu_stok }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-card>

  

</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Menu">
        <ion-icon name="fast-food"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Profil">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Logout" (click)="logout()">
        <ion-icon name="exit"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>
