<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">
        Data Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Halo, {{ nama }}</ion-card-title>
      <!-- <ion-card-subtitle class="ion-margin-top">{{ nama }}</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      Anda adalah seorang administrator yang dapat menambah dan menerima pesanan.
      <ion-button color="danger" slot="end" (click)="logout()">Logout</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list class="ion-padding" lines="full">
    <ion-button type="button" [routerLink]="['/menu-tambah']" routerLinkActive="router-link-active" color="success"
      expand="block"> Tambah Menu</ion-button>
  </ion-list> 

  <ion-card lines="inset" *ngFor="let menu_value of menu">
    <ion-card-header>
      <ion-card-title>{{ menu_value.menu_nama }}</ion-card-title>
      <ion-card-subtitle>Jumlah stok : {{ menu_value.menu_stok }}</ion-card-subtitle>
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  
    <ion-button fill="clear" color="warning" [routerLink]="['/menu-lihat/',menu_value.menu_id]"
        routerLinkActive="router-link-active">Lihat</ion-button>
      <ion-button fill="clear" color="success" [routerLink]="['/menu-edit/',menu_value.menu_id]"
        routerLinkActive="router-link-active">Edit</ion-button>
      <ion-button fill="clear" color="danger" (click)="deleteMahasiswa(menu_value.menu_id)">Hapus</ion-button>
  </ion-card>

  <!-- <ion-card >
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{ menu_value.menu_nama }}</ion-label>
      
    </ion-item>
  </ion-card> -->
</ion-content>
